<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RoomTheme</key>
	<array>
		<string>static/room/1.png</string>
		<string>static/room/2.png</string>
		<string>static/room/3.png</string>
		<string>static/room/4.png</string>
		<string>static/room/5.png</string>
		<string>static/room/6.png</string>
		<string>static/room/7.png</string>
		<string>static/room/8.png</string>
		<string>static/room/9.png</string>
		<string>static/room/10.png</string>
		<string>static/room/11.png</string>
		<string>static/room/12.png</string>
		<string>static/room/13.png</string>
		<string>static/room/14.png</string>
		<string>static/room/15.png</string>
	</array>
	<key>Portrait</key>
	<array>
		<string>static/portrait/1.png</string>
		<string>static/portrait/2.png</string>
		<string>static/portrait/3.png</string>
		<string>static/portrait/4.png</string>
		<string>static/portrait/5.png</string>
		<string>static/portrait/6.png</string>
		<string>static/portrait/7.png</string>
		<string>static/portrait/8.png</string>
		<string>static/portrait/9.png</string>
		<string>static/portrait/10.png</string>
		<string>static/portrait/11.png</string>
		<string>static/portrait/12.png</string>
		<string>static/portrait/13.png</string>
		<string>static/portrait/14.png</string>
		<string>static/portrait/15.png</string>
	</array>
	<key>Name</key>
	<array>
		<string>逸君</string>
		<string>云乐</string>
		<string>晏齐</string>
		<string>嘉新</string>
		<string>延凛</string>
		<string>楚成</string>
		<string>庚常</string>
		<string>恒锡</string>
		<string>奕晗</string>
		<string>修广</string>
		<string>姗影</string>
		<string>熙茹</string>
		<string>丽芸</string>
		<string>琪嘉</string>
		<string>昕迪</string>
		<string>钧瑶</string>
		<string>缦筠</string>
		<string>华钰</string>
		<string>美媛</string>
		<string>琴明</string>
	</array>
	<key>Family</key>
	<array>
		<string>赵</string>
		<string>钱</string>
		<string>孙</string>
		<string>李</string>
		<string>周</string>
		<string>吴</string>
		<string>郑</string>
		<string>王</string>
		<string>冯</string>
		<string>陈</string>
		<string>褚</string>
		<string>卫</string>
		<string>蒋</string>
		<string>沈</string>
		<string>韩</string>
		<string>杨</string>
		<string>朱</string>
		<string>秦</string>
		<string>尤</string>
		<string>许</string>
	</array>
</dict>
</plist>
